@page
@model SerieFilme.Pages.AboutModel
@{
    ViewData["Title"] = "Sobre nós";
}
<h1 style="color:white; text-shadow: 0.1em 0.1em 0.2em black">@ViewData["Title"]</h1>

<p style="color:white; text-shadow: 0.1em 0.1em 0.2em black">Me chamo Rafael Souza, tenho 29 anos e atualmente estudante de Análise e Desenvolvimento pela UniCesumar de Curitiba.</p>
<p style="color:white; text-shadow: 0.1em 0.1em 0.2em black">Contato: rafa.el@live.com ou: (41)99673-4235</p>