@page
@model IndexModel
@{
    ViewData["Title"] = "Séries - Filmes";
}

<div class="text-md-center">
    <h1 class="display-4" style="color:white; text-shadow: black 0.1em 0.1em 0.2em">Bem-Vindo ao Séries/Filmes</h1>
    <p style="color:white; text-shadow: 0.1em 0.1em 0.2em black"><a>Sua biblioteca pessoal de filmes e seriados preferidos</a></p>
</div>
