@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1 style="color:white; text-shadow: 0.1em 0.1em 0.2em black">@ViewData["Title"]</h1>

<p style="color:white; text-shadow: 0.1em 0.1em 0.2em black">Todos os nomes contidos neste site são para caráter de arquivos e memorização de episódios ou filmes já vistos, não pertencendo a nenhuma instituição ou empresa.</p>
<p style="color:white; text-shadow: 0.1em 0.1em 0.2em black">Site desenvolvido com RazorPages por - Rafael Souza</p>